@page "/suatuanlamviec/{Mathanglamviec}"
@using TASK.Application.MTuanLamViec
@using TASK.Application.MChiTietTuan
<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

@if (tuanLamViecresponse == null || chiTietTuanResponse == null)
{
    <PageLoading />
}
else
{
<RadzenTemplateForm TItem="TuanLamViecRequest" Data="tuanLamViecrequest" Submit=UpdateTuanLamViecLuuThem InvalidSubmit=@OnInvalidSubmit>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Tên tháng*" />
        </div>
        <div class="col-md-4">
            <RadzenTextBox style="width: 100%;" Name="TenThang" @bind-Value="tuanLamViecrequest.TenThang" />
            <RadzenRequiredValidator Component="TenThang" Text="Không được để trống" Popup=true Style="width:136px" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Ngày bắt đầu*" />
        </div>
        <div class="col-md-7">
            <RadzenDatePicker @bind-Value="tuanLamViecrequest.NgayBatDau" Name="NBD" DateFormat="d" Style="width:429px" />
            <RadzenRequiredValidator Component="NBD" Text="Không được để trống" Popup=true Style="width:136px" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Ngày kết thúc*" />
        </div>
        <div class="col-md-7">
            <RadzenDatePicker @bind-Value="tuanLamViecrequest.NgayKetThuc" Name="NKT" DateFormat="d" Style="width: 429px" />
            <RadzenRequiredValidator Component="NKT" Text="Không được để trống" Popup=true Style="width:136px" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Giá trị tháng*" />
        </div>
        <div class="col-md-3">
            <RadzenNumeric TValue="int" Name="GiaTri" @bind-Value="tuanLamViecrequest.GiaTri" />
            <RadzenCompareValidator Component="GiaTri" Text="Giá trị phải lớn hơn 0" Popup=true Operator="CompareOperator.GreaterThan" Value="0" Style="width:136px;z-index:1" />
        </div>
        <div class="col-md-5">
            <RadzenButton Text="Phát sinh tuần" ButtonStyle="ButtonStyle.Secondary" Style="float:right" Click="PhatSinhTuan" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <RadzenDataGrid TItem="ChiTietTuanRequest" Data="chiTietTuanRequest" EmptyText="Chưa có phát sinh tuần" EditMode="DataGridEditMode.Single" @ref="chitiettuangrid">
                <Columns>
                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Property="TenTuan" Title="Tên tuần" TextAlign="TextAlign.Center" Width="150px">
                        <EditTemplate Context="chitiet">
                            <RadzenTextBox @bind-Value="chitiet.TenTuan" Style="width:100%; display: block" Name="TenTuan" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Property="GiaTri" Title="Thứ tự" TextAlign="TextAlign.Center">
                        <EditTemplate Context="chitiet">
                            <RadzenNumeric TValue="int" @bind-Value="chitiet.GiaTri" Name="GiaTri" Style="width:100%; display: block" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Property="TuNgay" Title="Từ ngày" TextAlign="TextAlign.Center">
                        <Template Context="chitiet">
                            @chitiet.TuNgay.ToString("dd/MM")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Property="DenNgay" Title="Đến ngày" TextAlign="TextAlign.Center">
                        <Template Context="chitiet">
                            @chitiet.DenNgay.ToString("dd/MM")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Property="SoGioLam" Title="Số giờ làm" TextAlign="TextAlign.Center">
                        <EditTemplate Context="chitiet">
                            <RadzenNumeric TValue="int" @bind-Value="chitiet.SoGioLam" Name="SoGioLam" Style="width:100%; display: block" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Property="TrangThai" Title="Đã khóa" TextAlign="TextAlign.Center">
                        <Template Context="check">
                            <RadzenCheckBox TriState="false" @bind-Value="check.TrangThai" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ChiTietTuanRequest" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                        <Template Context="order">
                            <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="order">
                            <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(order))">
                            </RadzenButton>
                            <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(order))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <RadzenButton Text="Cập nhật & đóng" ButtonStyle="ButtonStyle.Secondary" Icon="save" Style="width:218px" ButtonType="ButtonType.Submit" />
        </div>
        <div class="col-md-4">
            <RadzenButton Text="Đóng" ButtonStyle="ButtonStyle.Secondary" Click="@(args=>dialogService.Close(true))" Style="float: left " Icon="cancel" />
        </div>
    </div>
</RadzenTemplateForm>
        }
