@page "/quanlycongviec"

@using TASK.Application.MCongViec
@using TASK.Application.MToDoList
@using TASK.Data.Enums

@if (toDoList == null)
{
    <PageLoading />
}
else
{
    <div class="container" style="max-width: 100%">
        <RadzenMenu Style="background-color: #EDEFF1;margin-top:6px">
            <h1>QUẢN LÝ CÔNG VIỆC</h1>
            <div style="margin-left:auto">

                <RadzenButton Text="Thêm" Icon="add" Style="margin-bottom: 20px; width: 150px" ButtonStyle="ButtonStyle.Primary" Click="InsertCongViec" />

                <RadzenButton Text="Xóa" Icon="delete_outline" Style="margin-bottom: 20px; width: 150px" ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Lưu" Icon="save" Style="margin-bottom: 20px; width: 150px" ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Duyệt kế hoạch tuần" Icon="done" Style="margin-bottom: 20px; width: 245px" ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Khóa mở tuần" Icon="lock" Style="margin-bottom: 20px; width: 245px" ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Dời công việc" Icon="east" Style="margin-bottom: 20px; width: 245px" ButtonStyle="ButtonStyle.Primary" />

                <RadzenButton Text="Xuất excel" Icon="get_app" Style="margin-bottom: 20px; width: 250px" ButtonStyle="ButtonStyle.Primary" />
            </div>
        </RadzenMenu>
        <div style="width: 100%; border: 2px solid; height:max-content; background-color: #EDEFF1">
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4"><h5 style="margin:auto;text-align:center;padding:5px">Tháng</h5></div>
                        <div class="col-md-8"><RadzenDropDown TValue="string" Style="width:100%" /></div>
                    </div>
                    <div class="row mt-4" hidden="@timkiemncao">
                        <div class="col-md-4"><h5 style="margin:auto;text-align:center;padding:5px">Module</h5></div>
                        <div class="col-md-8"><RadzenDropDown TValue="string" Style="width:100%" /></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4"><h5 style="margin:auto;text-align:center;padding:5px">Tuần</h5></div>
                        <div class="col-md-8"><RadzenDropDown TValue="string" Style="width:100%" /></div>
                    </div>
                    <div class="row mt-4" hidden="@timkiemncao">
                        <div class="col-md-4"><h5 style="margin:auto;text-align:center;padding:5px">Tên công việc</h5></div>
                        <div class="col-md-8"><RadzenTextBox Style="width: 100%" /></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="row" style="margin-top:65px" hidden="@timkiemncao">
                        <div class="col-md-4"><h5 style="margin:auto;text-align:center;padding:5px">Nhân sự</h5></div>
                        <div class="col-md-8"><RadzenDropDown TValue="string" Style="width:100%" /></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-6"><RadzenButton Text="Tìm" Icon="search" Style="margin-bottom: 20px; width: 81%" ButtonStyle="ButtonStyle.Primary" /></div>
                        <div class="col-md-6"><RadzenButton Text="Tìm nâng cao" Icon="arrow_downward" Style="margin-bottom: 20px; width: 100%;margin-left:-31px" ButtonStyle="ButtonStyle.Primary" Click="change"/></div>
                    </div>
                    <div class="row" hidden="@timkiemncao">
                        <div class="col-md-4"><h5 style="margin:auto;text-align:center;padding:5px">Trạng thái</h5></div>
                        <div class="col-md-4"><RadzenDropDown TValue="string" Style="width: 100% " /></div>
                    </div>
                </div>
            </div>
        </div>
        <RadzenButton hidden="@checkpush" Text=@chuoipush Icon="push_pin" Style="width: 100%;color:black;text-align:left" Click="changepush" ButtonStyle="ButtonStyle.Warning" />
        <div hidden="@pushpin" style="width: 100%; height: 250px;margin-bottom:8px; background-color: rgb(233,203,97)">
            <div class="row" style="height:90%;width:100%;overflow-y:scroll">
                @foreach (var todo in toDoListDTOs)
                {
                    <div class="col-6 mt-4">
                        <RadzenCard Style="width:700px;height:85px;margin:auto;">
                            <div class="row" style="margin-top:-10px">
                                <div class="col-2">
                                    <RadzenCard Style="width:103px;height:60px;margin:auto;padding:0;border:1px solid #1562c1">
                                        <center style="font-size:21px">@todo.NgayDenHang.ToString("dd/MM")</center>
                                        @{
                                            DateTime hientai = DateTime.Now;

                                            var hethang = todo.NgayDenHang;

                                            if (hientai.Day == hethang.Day)
                                            {
                                                <RadzenBadge BadgeStyle="BadgeStyle.Warning" Style="font-size: 14px ;margin-top: 3px;border-radius:0px" IsPill="true" Text="Hôm nay" />
                                            }
                                            else if (hientai > hethang)
                                            {
                                                TimeSpan tre = hientai.Subtract(hethang);
                                                string text = $"Trể {tre.Days} ngày";
                                                <RadzenBadge BadgeStyle="BadgeStyle.Danger" Style="font-size: 14px ;margin-top: 3px;border-radius:0px" IsPill="true" Text=@text />
                                            }
                                            else if (hientai < hethang)
                                            {
                                                TimeSpan tre = hientai.Subtract(hethang);
                                                int con = Math.Abs(tre.Days);
                                                if (con == 0)
                                                {
                                                    string text = $"Còn 1 ngày";
                                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Style="font-size: 14px ;margin-top: 3px;border-radius:0px" IsPill="true" Text=@text />
                                                }
                                                else
                                                {
                                                    string text = $"Còn {con} ngày";
                                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Style="font-size: 14px ;margin-top: 3px;border-radius:0px" IsPill="true" Text=@text />
                                                }

                                            }
                                        }
                                    </RadzenCard>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        @{
                                            if (todo.NoiDung.Length < 33)
                                            {
                                                <div class="col-9" style="font-size:23px">@dem. @todo.NoiDung.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="col-9" style="font-size:23px">@dem. @todo.NoiDung.Substring(0, 33)...</div>

                                            }
                                            dem++;
                                        }
                                        <div class="col-3">
                                            <RadzenButton Text="Xong" ButtonStyle="ButtonStyle.Success" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:4px">
                                        <div class="col-3">@todo.TenUser</div>
                                        <div class="col-3">Ngày giao:@todo.NgayGiao.ToString("dd/MM")</div>
                                        @{
                                            if (todo.GhiChu.Length < 20)
                                            {
                                                <div class="col-6">Nội dung: @todo.GhiChu.ToString()</div>
                                            }
                                            else
                                            {
                                                <div class="col-6">Nội dung: @todo.GhiChu.Substring(0, 20)...</div>

                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </RadzenCard>
                    </div>

                }
            </div>

        </div>
        <RadzenDataGrid  EditMode="DataGridEditMode.Single" @ref="congviecsGrid" AllowGrouping="false" AllowFiltering="false" AllowColumnResize="false" FilterMode="FilterMode.Advanced"  AllowSorting="true"
                        Data="@congViecResponses"  SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedCongViec TItem="CongViecResponse" ColumnWidth="300px
                        " LogicalFilterOperator="LogicalFilterOperator.Or" Render="OnRender" Style="height:300px;width:100%;overflow-y:scroll">
            <GroupHeaderTemplate Context="congviec">
                <div class="row">
                    <div class="col-md-2" style="margin-top:auto;margin-bottom:auto">
                        <div class="row">
                            <div class="col-6" style="margin-top:auto;margin-bottom:auto;font-weight:bold;font-size:18px">DEV:</div>
                            <div class="col-3" style="margin-top: auto; margin-bottom: auto; margin-left: -35%; font-weight: bold;font-size:18px">@(congviec.Data.Items.Cast<CongViecResponse>().Select(t => t).FirstOrDefault()?.TenUser)</div>
                            <div class="col-3" style="margin-top: auto; margin-bottom: auto; margin-left: -35%; font-weight: bold;font-size:18px">

                                @{
                                    bool kiemtraduyet = congviec.Data.Items.Cast<CongViecResponse>().Select(t => t).FirstOrDefault().DaDuyet;
                                    if (kiemtraduyet)
                                    {
                                        <RadzenIcon Icon="check_circle" Style="color: green; margin-left: 124px;" />
                                    }
                                    else
                                    {
                                        <RadzenIcon Icon="unpublished" Style="color: red; margin-left: 124px;" />
                                    }

                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top:auto;margin-bottom:auto">
                        <div class="row">
                            <div class="col-6" style="margin-top:auto;margin-bottom:auto;font-weight:bold">TỔNG THỜI GIAN(giờ):</div>
                            <p style="color: blue; font-weight: bold;margin-top:1px;margin-bottom:auto;font-size:20px;margin-left:3px">@(congviec.Data.Items.Cast<CongViecResponse>().Select(t=>t).Sum(t=>t.ThoiGianLam))</p>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top:auto;margin-bottom:auto">
                        @{ 
                            int TongThoiGianLamXong = congviec.Data.Items.Cast<CongViecResponse>()
                                .Where(t => t.TrangThai == (int)STT_CongViec.DaXong || t.TrangThai == (int)STT_CongViec.Vang || t.TrangThai == (int)STT_CongViec.DaXongTaskDotXuat || t.TrangThai == (int)STT_CongViec.ChuaXongBanTaskKhacDaDuyet).Sum(t => t.ThoiGianLam);

                            int TongThoiGianDaGiao = congviec.Data.Items.Cast<CongViecResponse>().Select(t => t).Sum(t => t.ThoiGianLam);


                            double MucDoHoanThanh = (double)TongThoiGianLamXong / TongThoiGianDaGiao;

                            int Result = (int)Math.Round(MucDoHoanThanh * 100);

                            Console.WriteLine($"Mức độ hoàn thành{Result}");

                            string ResultString = Math.Round(MucDoHoanThanh * 100) + "%";
                            }
                        <div class="row">
                            <div class="col-6" style="margin-top:auto;margin-bottom:auto;font-weight:bold">MỨC ĐỘ HOÀN THÀNH:</div>
                            @if (Result >= 90)
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Success" Text=@ResultString Style="font-size: 17px ;margin-top: 2px;border-radius:6px;margin-left:9px" />
                            }
                            else if (Result > 75)
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Warning" Text=@ResultString Style="font-size: 17px ;margin-top: 2px;border-radius:6px;margin-left:9px" />
                            }
                            else if (Result > 60)
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text=@ResultString Style="font-size: 17px ;margin-top: 2px;border-radius:6px;margin-left:9px" />
                            }
                            else
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text=@ResultString Style="font-size: 17px ;margin-top: 2px;border-radius:6px;margin-left:9px" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6"><RadzenLink href="javascript:void(0)" Icon="edit" Text="Đánh giá nhân sự" Style="float:right" @onclick="@(args=>Action())" /></div>
                </div>
            </GroupHeaderTemplate>

            <Columns>
                <RadzenDataGridColumn TItem="CongViecResponse" Width="40px" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <RadzenCheckBox TriState="false" TValue="bool" Value="@(congViecResponses.Any(i => selectedCongViec != null && selectedCongViec.Contains(i)))"
                                        Change="@(args => selectedCongViec = args ? congViecResponses.ToList() : null)" />
                    </HeaderTemplate>
                    <Template Context="data">
                        <RadzenCheckBox TriState="false" Value="@(selectedCongViec != null && selectedCongViec.Contains(data))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="TenModule" Title="Module" Width="200px">
                    <EditTemplate Context="congviec">
                        <RadzenDropDown AllowClear="true" Data="Listmodule" TValue="int" @bind-Value="congviec.MaModule" TextProperty="TenModule" ValueProperty="MaModule" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="TenIssue" Title="Issue URL" Width="100px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="CongViecResponse" Property="TenCongViec" Title="Tên công việc" Width="400px">
                    <EditTemplate Context="congviec">
                        <RadzenTextBox @bind-Value="congviec.TenCongViec" Style="width:100%"/>
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="Nguon" Title="Nguồn gốc" Width="90px" TextAlign="TextAlign.Center">
                    <Template Context="congviec">
                        @{
                            if (congviec.Nguon == (int)STT_NguonGoc.TAOMOI)
                            {
                                <RadzenIcon Icon="radio_button_unchecked" MouseEnter="@(args => ShowTooltip(args,
                                                                            new TooltipOptions(){ Position = TooltipPosition.Right }))" Style="color:green" />
                            }
                            if (congviec.Nguon == (int)STT_NguonGoc.DOIDOTRE)
                            {
                                <RadzenIcon Icon="arrow_right_alt" MouseEnter="@(args => ShowTooltip(args,
                                                                            new TooltipOptions(){ Position = TooltipPosition.Right }))" Style="color:red" />
                            }
                            if (congviec.Nguon == (int)STT_NguonGoc.DOIDOTXUAT)
                            {
                                <RadzenIcon Icon="sync_alt" MouseEnter="@(args => ShowTooltip(args,
                                                                            new TooltipOptions(){ Position = TooltipPosition.Right }))" Style="color:blue" />
                            }
                        }

                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="ThoiGianLam" Title="Thời gian(giờ)" Width="70px" TextAlign="TextAlign.Center">
                    <EditTemplate Context="congviec">
                        <RadzenNumeric TValue="int" @bind-Value="congviec.ThoiGianLam" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="TuNgay" Title="Từ ngày" Width="100px" TextAlign="TextAlign.Center">
                    <Template Context="congviec">
                        @congviec.TuNgay.ToString("dd/MM")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="DenNgay" Title="Đến ngày" Width="100px" TextAlign="TextAlign.Center">
                    <Template Context="congviec">
                        @congviec.DenNgay.ToString("dd/MM")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="TrangThai" Title="Trạng thái" Width="250px" TextAlign="TextAlign.Center">
                    <Template Context="congviec">
                        @{
                            STT_CongViec TT = (STT_CongViec)congviec.TrangThai;

                            switch (TT)
                            {
                                  
                                case STT_CongViec.ChuaLam:
                                    <p style="float:left;margin-top:auto;margin-bottom:auto;font-weight:bold">Chưa làm</p>
                                    break;
                                case STT_CongViec.DaXong:
                                    <p style="float: left; margin-top: auto; margin-bottom: auto; color: cornflowerblue; font-weight: bold ">Đã xong</p>
                                    break;
                                case STT_CongViec.DaXongTaskDotXuat:
                                    <p style="float: left; margin-top: auto; margin-bottom: auto; color: green; font-weight: bold ">Đã xong(Task đột xuất)</p>
                                    break;
                                case STT_CongViec.ChuaXong:
                                    <p style="float: left; margin-top: auto; margin-bottom: auto; color: #E6C54F; font-weight: bold ">Chưa xong</p>
                                    break;
                                case STT_CongViec.ChuaXongBanTaskKhacChuaDuyet:
                                    <p style="float: left; margin-top: auto; margin-bottom: auto; color: red; font-weight: bold ">Chưa xong(bận task khác)-Chưa duyệt</p>
                                    break;
                                case STT_CongViec.ChuaXongBanTaskKhacDaDuyet:
                                    <p style="float: left; margin-top: auto; margin-bottom: auto; color: deeppink; font-weight: bold ">Chưa xong(bận task khác)-Đã duyệt</p>
                                    break;
                                case STT_CongViec.Vang:
                                    <p style="float: left; margin-top: auto; margin-bottom: auto; color: darkblue; font-weight: bold ">Vắng</p>
                                    break;
                                default:
                                    break;
                            }

                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CongViecResponse" Property="GhiChu" Title="Ghi chú" Width="300px" />
                <RadzenDataGridColumn TItem="CongViecResponse" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                    <Template Context="congviec">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(congviec))" @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="congviec">
                        <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => SaveRow(congviec))">
                        </RadzenButton>
                        <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(congviec))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        <RadzenPager ShowPagingSummary="true" Count="count" Style="width: 500px; border-radius: 4px" PageSize="@pageSize" PageNumbersCount="3" />
    </div>
}


